/* Write your CSS here */
.totalbal-cont {
  padding: 20px;
  width: 30%;
  height: 100px;

  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 10px;

  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.expenses-cont {
  padding: 20px;
  width: 30%;
  height: 100px;

  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  border-radius: 10px;

  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.income-cont {
  padding: 20px;
  width: 30%;
  height: 100px;

  background-color: #cffafe;
  border: 1px solid #06b6d4;
  border-radius: 10px;

  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.balance-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.amount {
  font-size: 32px;
  color: #475569;
}
